.container{
border:2px solid black;
display: grid;
grid-template-areas: "nav nav nav"
 "side article corner"
  "footer footer footer";

}
.item-1{
grid-area: nav;
background-color: aqua;
}
.item-2{
grid-area: side;
background-color: bisque;
}
.item-3{
grid-area: article;
background-color: blue;
border:2px solid black;
}
.item-4{
grid-area: footer;
background-color: green;
}
.item-5{
  grid-area: nav;
  background-color:orangered;
}
.item{
  border:2px solid black;
  height:55px;
  /* width:55px; */
}